Repository claudiocoder/claudio-coder-site: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format:fix

:sparkles: - Add Husky and lint staged
  .lintstagedrc
Due: none

:sparkles: - Add Husky and lint staged
  .husky/pre-push
  package.json
Due: npm run format:fix

:sparkles: - Add Husky and lint staged
  .husky/pre-push
Due: none

:sparkles: - Add Husky and lint staged
  .lintstagedrc
  package.json
Due: npm run format:fix

:sparkles: - Add Husky and lint staged
  package.json
Due: npm run format:fix

✨ - Add Husky and lint staged
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: npm run format:fix

:sparkles: - Normalize endling lines
  .gitattributes
  README.md
  src/content/blog/resources_developers.mdx
Due: npm run format:fix

:sparkles: - Remove legacyBehavior social media links
  src/components/SocialNetworkContainer.tsx
Due: npm run lint, npm run format:fix

:sparkles: - Improve Card styles
  src/components/PostCard.tsx
Due: npm run lint, npm run format:fix

:sparkles: - Improve Card styles
  src/app/page.tsx
  src/components/PostCard.tsx
  src/constants/index.ts
Due: npm run lint, npm run format:fix

:sparkles: - Improve Card styles
  src/components/PostCard.tsx
  src/constants/index.ts
Due: npm run lint, npm run format:fix

✨ - Improve Card styles
  .gitattributes
  README.md
  src/app/page.tsx
  src/components/PostCard.tsx
  src/components/SocialNetworkContainer.tsx
  src/constants/index.ts
  src/content/blog/resources_developers.mdx
Due: npm run lint, npm run format:fix

:bug: - Update next.js vulnerability
  package-lock.json
  package.json
Due: npm run format:fix

:sparkles: - Upgrade NextJs15 to NextJs16
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:fix

:sparkles: - Upgrade NextJs15 to NextJs16
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run format:fix

:sparkles: - Upgrade NextJs15 to NextJs16
  .github/workflows/ui.yml
Due: none

✨ - Upgrade NextJs15 to NextJs16
  .github/workflows/ui.yml
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:fix

:sparkles: - Update mdx-remote and NextJs dependencies
  package-lock.json
  package.json
Due: npm run format:fix

✨ - Update mdx-remote and NextJs dependencies
  package-lock.json
  package.json
Due: npm run format:fix

:bookmark: - V1.1.1
  .github/workflows/ui.yml
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:fix

⬆️ - Upgrade sharp, vitest, coverage-v8 and @types/node
  package-lock.json
  package.json
Due: npm run format:fix

📝 - Add CLAUDE.md
  CLAUDE.md
Due: npm run format:fix

🔧 - Use bundler moduleResolution and Promise params in slug test
  __test__/_app/[slug]/Page.test.tsx
  tsconfig.json
Due: npm run lint, npm run format:fix

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run format:fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,html})
